/* Misc sitewide styles */
#main {
  width: 100vw;
  margin: 0 auto 0 auto;
  min-width: 600px;
  background-size: cover;
  background-repeat:no-repeat;
}
a:link, a:visited{
  text-decoration: none;
  color:#111111;
}
html, body{
  max-width: 100%; 
  overflow-x: hidden;
  margin-top: 2.5%;
}

/*Static page elements*/
/*Ship page */
.ship_icon_box{
  float:left; 
  width: 15%; 
  height: 100%;
  margin-left: 0%; 
  margin-top: 0%; 
  background-color: #888888;
  object-fit: contain;
}
.ship_box{
  width: 75%;
  height: 20%; 
  margin-top: 2.5%;
  align-content: center;
  background-color: #696969; 
  opacity: 85%; 
}
.ship_icon{
  height: 100%;
  width: 100%; 
  object-fit: contain;
}
.section_header{
  height: 5%;
  margin-left: 10%;
  text-align:center; 
  color:orange; 
  opacity: 100%; 
}
